*{
    margin: 0;
    padding: 0;
}
.main_box{
    background: url("photo.jpg");
    height: 100vh;
    background-size: cover;
}
.btn_one{
    color: white;
    font-size: 30px;
    font-weight: 700px;
    position: absolute;
    left: 16px;
    line-height: 60px;
}
.sidebar_menu{
    position:fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgb(255, 255,255,0.1);
    box-shadow: 0 0 6px rgb(255,255,255,0.5);
    transition: all 0.5s linear;
}
.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    height: 60px;
}
.sidebar_menu .btn_two{
    color: white;
    font-size: 25px;
    font-weight: 200px;
    position: absolute;
    left: 275px;
    line-height: 60px;
    opacity: 0.5;
    cursor: pointer;
}
.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 80px;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
}
.sidebar_menu .menu i,a{
    text-decoration: none;
    color: white;
}
.sidebar_menu .menu i{
    padding-right: 8px;
}
.sidebar_menu .social_media{
    position: absolute;
    left: 25%;
    bottom: 50px;
}
.sidebar_menu .social_media i{
    color: white;
    opacity: 0.5;
    padding: 0 5px;
}
#check{
    display: none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 6px rgb(255,255,255,0.5);
}
.btn_one i:hover{
    font-size: 40px;
}
.btn_two i:hover{
    font-size: 30px;
}
.sidebar_menu .menu i:hover{
    opacity:1;
    transform: scale(1.1);
}
#check:checked ~ .sidebar_menu{
    left: 0;
}
.btn_one i:hover{
    font-size: 40px;
}
.btn_two i:hover{
    font-size: 30px;
}
.social_media i:hover{
    opacity: 1;
    transform: scale(1.1);
}
#check:checked ~ .btn_one i{
    opacity: 0;
}
#check:checked ~ .sidebar_menu.btn_two i{
    opacity: 1;
}
